html{
  text-align:center;
  background-color: rgb(23, 7, 165);
html,body {
  background-color:aliceblue;
    margin:50px;
    text-align:center;
    ul{
      background-color:aliceblue;
      border-radius:30dp;
      
    }
    h3{
      background-color:aliceblue;
      border-radius:30dp;
     
    }
    h1{
      background-color:aliceblue;
      border-radius:30dp;
    
      
    }
    p{
      background-color:aliceblue;
      border-radius:30dp;
    
    }
    h2{
      background-color:aliceblue;
      border-radius:30dp; }
      
    ol{
      background-color:aliceblue;
      border-radius:30dp;
      
    }
    nav{
      background-color:aliceblue;
      padding:20px;
    
    }
    a{
      padding:50px;
    }
  }  
}